@model MyFace.Models.Request.CreatePostRequestModel

@{
    Layout = "_Layout";
}

<h1>Create a post.</h1>


<h2>Post Creation Form</h2>
<form action="/posts/create" method="post">
    <label for="userid">User ID:</label><br>
    <input type="text" id="userid" name="userid"><br>
    
    <label for="message">Message:</label><br>
    <input type="text" id="message" name="message"><br>
    
    <label for="imageurl">Image URL:</label><br>
    <input type="url" id="imageurl" name="imageurl"><br>
    
    <input type="submit" value="Submit">
</form>
