@using MyFace.Controllers
@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
}

<h1>MyFace Posts</h1>

<p>There are currently no posts, have a kitten pic instead </p>

<img src="https://i.imgur.com/S2XB7Cm.jpg" alt="Two Sleeping Cats" style="width:500px;height:500px;"/>