@using MyFace.Controllers
@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
}

<h1>MyFace Posts</h1>

There are currently no posts, have a kitten pic instead: <br>

<img src="https://i.imgur.com/S2XB7Cm.jpg" alt="Two Sleeping Cats"/>