
﻿@using Microsoft.EntityFrameworkCore.Infrastructure
@using MyFace.Controllers
@using MyFace.Models.Database
@using MyFace.Models.View
=======
﻿@using MyFace.Controllers

@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";
    
}

@foreach (var post in Model.Posts)
{
    <li>@post.Message</li>
}
