@{
    Layout = "_Layout";
}

<h1>Create a User Page</h1>

<h2>User Creation form</h2>

<form action="" method="post">
    <label for="firstName"> First Name:</label><br>
    <input type="text" id="firstName" name="firstName"/> <br>     
    
    <label for="lastName"> Last Name:</label><br>
    <input type="text" id="lastName" name="lastName"/> <br>
    
    <label for="username"> Username:</label><br>
    <input type="text" id="username" name="username"/> <br>

    <label for="email"> email:</label><br>
    <input type="text" id="email" name="email"/> <br>
    
     <button type="button" onclick="alert('I do not work yet')">Submit</button> 
</form>