@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Your Data</h2>
<p>Your Data is held on a not very secure Database. <br>
    Please don't store anyhting important here!</p>
